@model IEnumerable<MvcMovie.Models.Movie>

@{
    ViewData["Title"] = "My Movies";
}

<h1>My Movies</h1>

<form asp-controller="Movies" asp-action="Index" method="get" class="row g-2 mb-3">
    <div class="col-sm-6 col-md-5 col-lg-4">
        <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" class="form-control" placeholder="Search by title" />
    </div>
    <div class="col-sm-4 col-md-3 col-lg-2">
        <select name="minYear" class="form-select">
            <option value="">All years</option>
@{
    var years = ViewData["Years"] as Microsoft.AspNetCore.Mvc.Rendering.SelectList;
    var currentYear = ViewData["CurrentYear"]?.ToString();
    if (years != null)
    {
        foreach (var y in years)
        {
            if (currentYear == y.Value)
            {
                <option value="@y.Value" selected>@y.Text</option>;
            }
            else
            {
                <option value="@y.Value">@y.Text</option>;
            }
        }
    }
}
        </select>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
        <button type="submit" class="btn btn-primary w-100">Filter</button>
    </div>
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
